.star {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    height: 15em;
  }

  .star1 {
    animation: rotate 60s linear infinite;
    transform-origin: center;
    opacity: 0.5;
  }

  .star2 {
    animation: rotate 20s linear infinite;
    transform-origin: center;
    opacity: 0.8;
  }

  .star3 {
    animation: rotate 10s linear infinite;
    transform-origin: center;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
