.container {
  display: flex;
  justify-content: space-evenly;

  article {
    // text-wrap: balance;

    position: relative;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
    padding: 2em;
    width: 20rem;
    // aspect-ratio: 1/2;

    height: fit-content;

    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;

      overflow-y: hidden;

      margin-bottom: 4em;
    }

    hr {
      border: 1px solid transparent;

      border-image: linear-gradient(to right, white, transparent);
      border-image-slice: 1;

      margin-bottom: 1em;
    }

    h2 {
      margin-bottom: 1em;
      text-transform: uppercase;
      font-size: 1.5em;

      letter-spacing: 0.2em;

      color: white;
      text-shadow: 0 0 10px white;
      font-weight: 100;
    }

    button {
      all: unset;

      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5em;
      aspect-ratio: 1/1;

      position: absolute;
      bottom: 2em;
      right: 2em;
      font-size: 1em;
      border-radius: 50px;
    }

    button:hover {
      box-shadow: 0 0 10px white;
      transition: 0.5s;
    }

    button:active {
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
      color: #6494c2;
      transition: 0.2s;
    }

    // h2:active + hr {
    //   border: 1px solid lime;
    // }
  }

  article:hover {
    transform: scale(1.05);
  }

  // article:active h2 {
  //   color: pink;
  // }

  // article:active ~ article {
  //   background-color: pink;
  // }
}
