.header {
  overflow: hidden;
  margin: 5em 0;

  h1 {
    text-align: center;
    font-size: 7em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    font-weight: 100;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    -webkit-box-reflect: below -50px linear-gradient(transparent 20%, rgba(255, 255, 255, 0.1));

    span {
      color: transparent;
      -webkit-text-stroke: 2px white;
      text-shadow: 0 0 90px white;
    }

    span::before {
      content: '\A';
      white-space: break-spaces;
    }
  }

  section {
    margin: 5em 0;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 8em;
      width: 8em;
      filter: saturate(40%) hue-rotate(20deg)
        drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.2));
      animation: twist 0.5s, rainbow 5s infinite;
    }

    ul {
      animation: slide-rl linear 1s;

      border-left: 1px solid transparent;
      border-image: linear-gradient(to bottom, transparent, white, transparent);
      border-image-slice: 1;

      padding-left: 2em;
      margin-left: 1em;

      li {
        margin: 0.5rem 0;
        text-transform: uppercase;
      }
      a {
        text-decoration: none;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      a:hover {
        text-shadow: 0 0 10px white;
        transition: 0.2s;
      }

      a:visited {
        color: white;
      }
    }
  }
}

@keyframes twist {
  from {
    transform: scale(0) rotate(1000deg);
  }
  to {
    transform: scale(1);
  }
}

// @keyframes rainbow {
//   0% {
//     filter: hue-rotate(20deg);
//   }
//   25% {
//     filter: hue-rotate(120deg);
//   }
//   50% {
//     filter: hue-rotate(220deg);
//   }
//   75% {
//     filter: hue-rotate(120deg);
//   }
//   100% {
//     filter: hue-rotate(20deg);
//   }
// }

@keyframes slide-rl {
  from {
    filter: blur(100px);
    transform: translateX(10em);
  }
  to {
    transform: translateX(0);
  }
}

.layout {
  position: absolute;
  inset: 0;
  height: 510%;
  z-index: -1;

  background: linear-gradient(200deg, steelblue, crimson, steelblue, black);
}
