@import '../../modes.scss';

.theme {
  position: relative;
  background: getColor(background);
  height: 90vh;
  display: grid;
  place-content: center;
  border-top: 10vh solid getColor(primary);
  padding: 0 8em;

  h2 {
    font-size: 10rem;
    color: getColor(primary);
    text-shadow: 0 0 5px getColor(primary);
  }

  h2 {
    &:before {
      content: var(--theme) ' ';
      color: getColor(details);
      text-transform: capitalize;
    }
  }

  p {
    color: getColor(primary);
    margin-top: 2em;
    max-width: 100%;
    font-size: 1.1rem;
    line-height: 1.5em;
  }

  .icons {
    display: flex;
    justify-content: flex-end;

    span:first-child {
      color: getColor(secondary);
    }
  }

  span {
    font-size: 4em;
    height: 2em;
    aspect-ratio: 1/1;
    text-align: center;
    color: getColor(details);
    text-shadow: 0 0 5px getColor(primary);
    transition: all 0.2s;
  }
}
