@import '../../modes.scss';

.theme {
  position: relative;
  display: grid;
  place-content: center;
  height: 90vh;
  padding: 0 8em;
  background: pick(bg-color);
  border-top: 10vh solid pick(primary);

  h2 {
    font-size: 10rem;
    color: pick(primary);
    text-shadow: 0 0 5px pick(primary);
  }

  h2:before {
    content: var(--theme) ' ';
    color: pick(details);
    text-transform: capitalize;
  }

  p {
    margin-top: 2em;
    max-width: 100%;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: pick(primary);
  }

  .icons {
    display: flex;
    justify-content: flex-end;

    span:first-child {
      color: pick(secondary);
    }

    span {
      font-size: 4em;
      height: 2em;
      aspect-ratio: 1/1;
      text-align: center;
      transition: all 0.2s;
      color: pick(details);
      text-shadow: 0 0 5px pick(primary);
    }
  }
}
