.flip-container {
  position: absolute;
  bottom: -10em;
  left: 10em;
  background-color: transparent;
  width: 7rem;

  .card {
    width: 7rem;
    height: 7rem;
    text-align: center;
    transition: all 1s;
    transform-style: preserve-3d; // !
  }

  .front,
  .back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; // !
  }

  .front {
    background-color: white;
    color: black;
    font-size: 3rem;
  }

  .back {
    background-color: white;
    color: black;
    font-size: 1em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transform: rotateY(180deg); // !
    p {
      width: 4em;
    }
  }
}

.flip-container:hover .card {
  transform: rotateY(180deg);
}

.flip-container:active .card {
  box-shadow: 0 0 30px white;
}
