// Así se haría con CSS puro.

// :root {
//   --color-bg-color: linear-gradient(beige, white);
//   --color-primary: black;
//   --color-secondary: steelblue;
//   --color-details: rgb(141, 68, 82);
//   --theme: 'light';
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-bg-color: linear-gradient(rgb(33, 33, 33), black);
//     --color-primary: white;
//     --color-secondary: beige;
//     --color-details: pink;
//     --theme: 'dark';
//   }
// }

// .example-element {
//   background: var(--color-bg-color);
//   color: var(--color-primary);
// }

$light-mode: (
  bg-color: linear-gradient(beige, white),
  primary: black,
  secondary: steelblue,
  details: rgb(141, 68, 82),
);

$dark-mode: (
  bg-color: linear-gradient(rgb(33, 33, 33), black),
  primary: white,
  secondary: beige,
  details: pink,
);

@function pick($color-name) {
  @return var(--color-#{$color-name});
}

:root {
  @each $name, $color in $light-mode {
    --color-#{$name}: #{$color};
  }
  --theme: 'light';
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $dark-mode {
      --color-#{$name}: #{$color};
    }
    --theme: 'dark';
  }
}
